/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */

nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content:space-between;
}

.angle-double-down {
  display: flex;
  flex-direction: column;
}

.tweeter {
  font-family: "Bungee", "sans-serif";
}

.fas {
  color: red;
  align-self: center;
}